body {
  background-image: url("./../images/beer.png");
  /* background-repeat: no-repeat; */
}

#mainBody {
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  background-image: url("./../images/paper.jpg");
  padding: 1rem;
  box-sizing: border-box;
}

#question {
  font-size: 40px;
  text-align: center;
}

.answer {
  font-size: 30px;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);

  display: inline-block;
}

.answer:hover {
  font-size: 30px;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
  font-weight: bold;
}

#image {
  /* align-self: center; */
  display: block;
  margin: auto;
  /* margin-left: 25% !important; */
  width: 300px;
  height: 300px;
}

.check {
  margin: auto;
  text-align: center;
}

#timer {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  background-image: url("./../images/beer.jpg");
  /* display: inline-block; */
  box-sizing: border-box;
  width: 10%;
  height: 5rem;
  padding: 1rem;
}
